<md-sidenav 
        class="md-sidenav-left coolest-projects-sidenav background-black text-white"
		layout="column"
        md-component-id="sidenav"
        md-disable-backdrop="true"
        md-whiteframe="10">

		<md-list>
			<!-- Home -->
			<md-list-item md-ink-ripple ng-click="sidenavCtrl.goToHomeState()">
				<div class="md-list-item-text" flex><h4>Home</h4></div>
				<md-icon md-font-icon="material-icons" class="text-white">home</md-icon>
				<md-divider class="background-white"></md-divider>
			</md-list-item>
			<!-- /Home -->
			
			<!-- Speakers -->
			<md-list-item md-ink-ripple ng-click="sidenavCtrl.goToSpeakersState()">
				<div class="md-list-item-text" flex><h4>Speakers</h4></div>
				<md-icon md-font-icon="material-icons" class="text-white">people</md-icon>
				<md-divider class="background-white"></md-divider>
			</md-list-item>
			<!-- /Speakers -->
			
			<!-- Projects -->
			<md-list-item md-ink-ripple ng-click="sidenavCtrl.goToProjectsState()">
				<div class="md-list-item-text" flex><h4>Projects</h4></div>
				<md-icon md-font-icon="material-icons" class="text-white">videogame_asset</md-icon>
				<md-divider class="background-white"></md-divider>
			</md-list-item>
			<!-- /Projects -->

      <!-- Schedule -->
      <md-list-item md-ink-ripple ng-click="sidenavCtrl.goToScheduleState()">
        <div class="md-list-item-text" flex><h4>Schedule</h4></div>
        <md-icon md-font-icon="material-icons" class="text-white">schedule_asset</md-icon>
        <md-divider class="background-white"></md-divider>
      </md-list-item>
      <!-- /Schedule -->
		</md-list>

		<span flex layout-align="start end" layout-margin layout="row">
			<img class="img-responsive" src="../../../assets/img/coder-dojo-logo.jpg" alt="">
		</span>

</md-sidenav>