<form>
  <md-tabs ng-model="summitIndex" class="cp-font" md-border-bottom="">
    <md-tab label="Startup &amp; Innovator" ng-click="summitIndex = 0"></md-tab>
    <md-tab label="Game" ng-click="summitIndex = 1"></md-tab>
    <md-tab label="Social &amp; Women in Tech" ng-click="summitIndex = 2"></md-tab>
    <md-tab label="MasterCard Code" ng-click="summitIndex = 3"></md-tab>
  </md-tabs>
</form>

<span ng-repeat="speaker in scheduleCtrl.summits[summitIndex || 0].speakers" layout="column" flex>
	<span layout="row">
		<span layout>
			<img alt="{{speaker.name}}" ng-src="{{speaker.photoUrl}}" class="img-avatar img-small">
		</span>
		<span layout="column" layout-gt-sm="row" flex>
			<span layout="column" flex>
				<span class="md-body-2">{{speaker.name}}</span>
				<span class="md-caption text-grey">{{speaker.description}}</span>
			</span>
			<span layout="column" layout-gt-sm="row" flex-gt-sm>
				<span layout="row" flex-gt-sm layout-align-gt-sm="start center">
					<span class="md-body-2">{{speaker.talkTitle}}</span>
				</span>
				<span layout="row" flex-gt-sm layout-align-gt-sm="end center">
					<span class="md-caption text-grey">{{speaker.summitTimes}}</span>
				</span>
			</span>
		</span>
	</span>
	<md-divider></md-divider>
</span>
