<form>
  <md-tabs ng-model="summit" class="cp-font" md-border-bottom="">
    <md-tab label="All" ng-click="summit = ''"></md-tab>
    <md-tab label="Social &amp; Women in Tech" ng-click="summit = 'Social & Women in Tech'"></md-tab>
    <md-tab label="MasterCard Code Summit" ng-click="summit = 'MasterCard Code Summit'"></md-tab>
    <md-tab label="Game" ng-click="summit = 'Game'"></md-tab>
    <md-tab label="Startup &amp; Innovator" ng-click="summit = 'Startup & Innovator'"></md-tab>
  </md-tabs>
  <md-input-container class="md-block">
    <input ng-model="query" type="text" placeholder="Type a keyword to search speakers">
  </md-input-container>
</form>

  <md-grid-list
		md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
		md-row-height-xs="300px" md-row-height-sm="400px" md-row-height-gt-sm="350px"
		md-gutter="20">

	<md-grid-tile ng-repeat="speaker in speakersCtrl.speakers | filter: query | filter: summit">
		<md-card md-whiteframe="7">
			<md-card-title>

				<md-card-title-text layout="row" layout-align="center center">
					<p class="md-headline text-uppercase">{{speaker.name}}</p>
				</md-card-title-text>

				<md-card-title-media>
					<div class="card-media">
					<img hide-xs ng-src="{{speaker.photoUrl}}" class="md-card-image md-media-lg">
					<img hide show-xs ng-src="{{speaker.photoUrl}}" class="md-card-image md-media-sm">
					</div>
				</md-card-title-media>

			</md-card-title>

			<md-card-content class="text-grey text-right">
				<p class="md-body-2 text-left text-bold">{{speaker.description}}</p>
				<p class="md-body-1 text-left">{{speaker.talkTitle}}</p>
				<p class="md-caption text-left">
					<span>{{speaker.summitTimes}}</span>&nbsp;&nbsp;
					<span>{{speaker.summit}} Summit</span>
				</p>
			</md-card-content>
			
		</md-card>
	</md-grid-tile>
</md-grid-list>
